#s-2fc32bbf-5615-4acf-b333-4899b9179974 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc32bbf-5615-4acf-b333-4899b9179974 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc32bbf-5615-4acf-b333-4899b9179974 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc32bbf-5615-4acf-b333-4899b9179974 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc32bbf-5615-4acf-b333-4899b9179974 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc32bbf-5615-4acf-b333-4899b9179974 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}