#s-373359b8-2dc3-418e-8397-1288044a5fc4 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-373359b8-2dc3-418e-8397-1288044a5fc4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-373359b8-2dc3-418e-8397-1288044a5fc4 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-373359b8-2dc3-418e-8397-1288044a5fc4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}