#s-441daa41-7885-4bfe-8a1d-71dd742bab4f #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-441daa41-7885-4bfe-8a1d-71dd742bab4f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-441daa41-7885-4bfe-8a1d-71dd742bab4f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-441daa41-7885-4bfe-8a1d-71dd742bab4f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}