#s-5682d8ab-b633-47ee-b6c5-275b0d023975 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5682d8ab-b633-47ee-b6c5-275b0d023975 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-5682d8ab-b633-47ee-b6c5-275b0d023975 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-5682d8ab-b633-47ee-b6c5-275b0d023975 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-5682d8ab-b633-47ee-b6c5-275b0d023975 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}