#s-6c98e0c9-5b4d-47c5-b94e-0806a3143ec0 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6c98e0c9-5b4d-47c5-b94e-0806a3143ec0 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-6c98e0c9-5b4d-47c5-b94e-0806a3143ec0 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-6c98e0c9-5b4d-47c5-b94e-0806a3143ec0 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-6c98e0c9-5b4d-47c5-b94e-0806a3143ec0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}