#s-790aa130-0721-42c0-94bd-3c5febbc4d56 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-790aa130-0721-42c0-94bd-3c5febbc4d56 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-790aa130-0721-42c0-94bd-3c5febbc4d56 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-790aa130-0721-42c0-94bd-3c5febbc4d56 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-790aa130-0721-42c0-94bd-3c5febbc4d56 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-790aa130-0721-42c0-94bd-3c5febbc4d56 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-790aa130-0721-42c0-94bd-3c5febbc4d56 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-790aa130-0721-42c0-94bd-3c5febbc4d56 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-790aa130-0721-42c0-94bd-3c5febbc4d56 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-790aa130-0721-42c0-94bd-3c5febbc4d56 #s-Ellipse_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-790aa130-0721-42c0-94bd-3c5febbc4d56 #s-Ellipse_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-790aa130-0721-42c0-94bd-3c5febbc4d56 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-790aa130-0721-42c0-94bd-3c5febbc4d56 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-790aa130-0721-42c0-94bd-3c5febbc4d56 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}