#s-8e4d0f06-42b7-4670-b732-a9f60952f374 #s-Table_1 {
  border-collapse: separate;
}
#s-8e4d0f06-42b7-4670-b732-a9f60952f374 #s-Table_2 {
  border-collapse: separate;
}
#s-8e4d0f06-42b7-4670-b732-a9f60952f374 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8e4d0f06-42b7-4670-b732-a9f60952f374 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8e4d0f06-42b7-4670-b732-a9f60952f374 #s-Line_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -ms-transform: rotate(180.0deg);
}
#s-8e4d0f06-42b7-4670-b732-a9f60952f374 #s-Line_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -ms-transform: rotate(180.0deg);
}
#s-8e4d0f06-42b7-4670-b732-a9f60952f374 #s-Line_2 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -ms-transform: rotate(186.0deg);
}
#s-8e4d0f06-42b7-4670-b732-a9f60952f374 #s-Line_2 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -ms-transform: rotate(186.0deg);
}
#s-8e4d0f06-42b7-4670-b732-a9f60952f374 #s-Line_3 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -ms-transform: rotate(187.0deg);
}
#s-8e4d0f06-42b7-4670-b732-a9f60952f374 #s-Line_3 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF0000;
  -ms-transform: rotate(187.0deg);
}
#s-8e4d0f06-42b7-4670-b732-a9f60952f374 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-8e4d0f06-42b7-4670-b732-a9f60952f374 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-8e4d0f06-42b7-4670-b732-a9f60952f374 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}