#s-97cf0411-aaa5-4b59-916a-fa10531fad20 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-97cf0411-aaa5-4b59-916a-fa10531fad20 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-97cf0411-aaa5-4b59-916a-fa10531fad20 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-97cf0411-aaa5-4b59-916a-fa10531fad20 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-97cf0411-aaa5-4b59-916a-fa10531fad20 #s-Image_2 {
  -ms-transform: rotate(270.0deg);
}
#s-97cf0411-aaa5-4b59-916a-fa10531fad20 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-97cf0411-aaa5-4b59-916a-fa10531fad20 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-97cf0411-aaa5-4b59-916a-fa10531fad20 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-97cf0411-aaa5-4b59-916a-fa10531fad20 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-97cf0411-aaa5-4b59-916a-fa10531fad20 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}