#s-b3962864-c293-4560-aae1-abcc7570b58e > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  min-width: 1440px;
  min-height: 900px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Master_item_1 div.offset {
  position: relative;
  top: 0px;
  left: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Master_item_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 729px;
  overflow: visible;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Master_item_2 div.offset {
  position: relative;
  top: -726px;
  left: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Master_item_2 {
  position: absolute;
  top: 725px;
  left: 0px;
  width: 1440px;
  height: 175px;
  overflow: visible;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_1 {
  position: absolute;
  top: 183px;
  left: 209px;
  width: 739px;
  height: 149px;
  background-color: #1E938C;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Input_1 {
  position: absolute;
  top: 223px;
  left: 215px;
  width: 312px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: 2px 2px 5px 0px #404040;
  text-shadow: none;
  cursor: text;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_1 {
  position: absolute;
  top: 298px;
  left: 215px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_2 {
  position: absolute;
  top: 303px;
  left: 349px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_2 span {
  color: #0000FF;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #0000FF;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 {
  position: absolute;
  top: 351px;
  left: 209px;
  width: 735px;
  height: 368px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 span#rtr-s-Rectangle_2_1 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 span#rtr-s-Rectangle_2_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 span#rtr-s-Rectangle_2_3 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 span#rtr-s-Rectangle_2_4 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 span#rtr-s-Rectangle_2_5 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 span#rtr-s-Rectangle_2_6 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 span#rtr-s-Rectangle_2_7 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 span#rtr-s-Rectangle_2_8 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 span#rtr-s-Rectangle_2_9 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 span#rtr-s-Rectangle_2_10 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 span#rtr-s-Rectangle_2_11 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 span#rtr-s-Rectangle_2_12 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_3 {
  position: absolute;
  top: 183px;
  left: 985px;
  width: 413px;
  height: 536px;
  background-color: #EFEFEF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Callout_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 413px;
  height: 81px;
  position: absolute;
  overflow: hidden;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Callout_1 .content {
  width: 413px;
  height: 81px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Callout_1 {
  position: absolute;
  top: 183px;
  left: 985px;
  width: 413px;
  height: 108px;
  background-color: #1E938C;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #shapewrapper-s-Callout_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_3 {
  position: absolute;
  top: 255px;
  left: 1008px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Paragraph_1 {
  position: absolute;
  top: 301px;
  left: 1005px;
  width: 373px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_4 {
  position: absolute;
  top: 331px;
  left: 1005px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_4 {
  position: absolute;
  top: 377px;
  left: 1005px;
  width: 209px;
  height: 41px;
  background-color: #EFEEEF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_4 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_5 {
  position: absolute;
  top: 444px;
  left: 1008px;
  width: 209px;
  height: 41px;
  background-color: #EFEEEF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_5 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_6 {
  position: absolute;
  top: 513px;
  left: 1008px;
  width: 209px;
  height: 41px;
  background-color: #EFEEEF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_6 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_7 {
  position: absolute;
  top: 584px;
  left: 1008px;
  width: 209px;
  height: 41px;
  background-color: #EFEEEF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_7 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_8 {
  position: absolute;
  top: 657px;
  left: 1008px;
  width: 209px;
  height: 41px;
  background-color: #EFEEEF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_8 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-search_button {
  position: absolute;
  top: 223px;
  left: 544px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_23 {
  position: absolute;
  top: 148px;
  left: 189px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_23 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_23 span#rtr-s-Text_23_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_24 {
  position: absolute;
  top: 148px;
  left: 231px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_24 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_24 span#rtr-s-Text_24_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b3962864-c293-4560-aae1-abcc7570b58e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}