#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-search_button {
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-b3962864-c293-4560-aae1-abcc7570b58e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}