#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}