#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  min-width: 1440px;
  min-height: 900px;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Master_item_1 div.offset {
  position: relative;
  top: 0px;
  left: 0px;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Master_item_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 729px;
  overflow: visible;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Master_item_2 div.offset {
  position: relative;
  top: -726px;
  left: 0px;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Master_item_2 {
  position: absolute;
  top: 725px;
  left: 0px;
  width: 1440px;
  height: 175px;
  overflow: visible;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Rectangle_1 {
  position: absolute;
  top: 188px;
  left: 195px;
  width: 1225px;
  height: 482px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Arial Black,Arial;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Rectangle_1 span {
  color: #FA603D;
  text-align: left;
  text-decoration: none;
  font-family: Arial Black,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 800;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FA603D;
  text-align: left;
  text-decoration: none;
  font-family: Arial Black,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 800;
  line-height: 0px;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Rectangle_1 span#rtr-s-Rectangle_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial Black,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 800;
  line-height: 0px;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Rectangle_1 span#rtr-s-Rectangle_1_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Rectangle_1 span#rtr-s-Rectangle_1_3 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial Black,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 800;
  line-height: 0px;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Rectangle_1 span#rtr-s-Rectangle_1_4 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Rectangle_1 span#rtr-s-Rectangle_1_5 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Image_1 {
  position: absolute;
  top: 241px;
  left: 206px;
  width: 576px;
  height: 228px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Text_23 {
  position: absolute;
  top: 148px;
  left: 189px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Text_23 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Text_24 {
  position: absolute;
  top: 148px;
  left: 231px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Text_24 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c147acaa-21fc-4d7f-8b7e-08e7a7242cd5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}