#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Image_6 {
  -ms-transform: rotate(270.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-d907f92c-0d8a-4aec-a9aa-9903d35fce5b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}