#s-e0a26580-6a99-4641-bc83-c0f55558a0ac #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e0a26580-6a99-4641-bc83-c0f55558a0ac #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-e0a26580-6a99-4641-bc83-c0f55558a0ac #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-e0a26580-6a99-4641-bc83-c0f55558a0ac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}