#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 93px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}