#s-ef6b84e5-fb24-435d-ae67-7811309687fd > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  min-width: 1440px;
  min-height: 900px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Master_item_1 div.offset {
  position: relative;
  top: 0px;
  left: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Master_item_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 729px;
  overflow: visible;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Master_item_2 div.offset {
  position: relative;
  top: -726px;
  left: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Master_item_2 {
  position: absolute;
  top: 725px;
  left: 0px;
  width: 1440px;
  height: 175px;
  overflow: visible;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_1 {
  position: absolute;
  top: 202px;
  left: 196px;
  width: 671px;
  height: 457px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_2 {
  position: absolute;
  top: 202px;
  left: 747px;
  width: 684px;
  height: 457px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_1 {
  position: absolute;
  top: 149px;
  left: 39px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_1 span {
  color: #1E938C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_1 span#rtr-s-Text_1_0 {
  color: #1E938C;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_2 {
  position: absolute;
  top: 215px;
  left: 214px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_3 {
  position: absolute;
  top: 249px;
  left: 359px;
  width: 397px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_3 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_3 span#rtr-s-Rectangle_3_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_1 {
  position: absolute;
  top: 254px;
  left: 473px;
  width: 273px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_4 {
  position: absolute;
  top: 294px;
  left: 359px;
  width: 397px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_4 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_4 span#rtr-s-Rectangle_4_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_2 {
  position: absolute;
  top: 299px;
  left: 473px;
  width: 273px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_5 {
  position: absolute;
  top: 340px;
  left: 340px;
  width: 416px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_5 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_5 span#rtr-s-Rectangle_5_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_3 {
  position: absolute;
  top: 345px;
  left: 473px;
  width: 273px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_6 {
  position: absolute;
  top: 387px;
  left: 292px;
  width: 464px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_6 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_6 span#rtr-s-Rectangle_6_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_4 {
  position: absolute;
  top: 392px;
  left: 473px;
  width: 273px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_7 {
  position: absolute;
  top: 532px;
  left: 349px;
  width: 409px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_5 {
  position: absolute;
  top: 537px;
  left: 570px;
  width: 178px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_8 {
  position: absolute;
  top: 435px;
  left: 328px;
  width: 429px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_8 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_8 span#rtr-s-Rectangle_8_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_6 {
  position: absolute;
  top: 440px;
  left: 474px;
  width: 273px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_9 {
  position: absolute;
  top: 484px;
  left: 321px;
  width: 436px;
  height: 35px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_9 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Rectangle_9 span#rtr-s-Rectangle_9_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_7 {
  position: absolute;
  top: 489px;
  left: 474px;
  width: 273px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_7 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Category_1 {
  position: absolute;
  top: 537px;
  left: 475px;
  width: 79px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Category_1 .valign {
  width: 61px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_3 {
  position: absolute;
  top: 603px;
  left: 214px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_3 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_4 {
  position: absolute;
  top: 215px;
  left: 785px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_5 {
  position: absolute;
  top: 374px;
  left: 785px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_8 {
  position: absolute;
  top: 254px;
  left: 800px;
  box-shadow: none;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_6 {
  position: absolute;
  top: 252px;
  left: 824px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_9 {
  position: absolute;
  top: 285px;
  left: 800px;
  box-shadow: none;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_7 {
  position: absolute;
  top: 283px;
  left: 824px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Input_10 {
  position: absolute;
  top: 416px;
  left: 800px;
  box-shadow: none;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_8 {
  position: absolute;
  top: 414px;
  left: 824px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_9 {
  position: absolute;
  top: 327px;
  left: 800px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_9 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_9 span#rtr-s-Text_9_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_10 {
  position: absolute;
  top: 454px;
  left: 800px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_10 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_10 span#rtr-s-Text_10_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_11 {
  position: absolute;
  top: 518px;
  left: 796px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_12 {
  position: absolute;
  top: 541px;
  left: 796px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_12 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_12 span#rtr-s-Text_12_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_13 {
  position: absolute;
  top: 541px;
  left: 860px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Button_2 {
  position: absolute;
  top: 603px;
  left: 1291px;
  width: 93px;
  height: 23px;
  background-color: #FC663D;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_23 {
  position: absolute;
  top: 148px;
  left: 189px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_23 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_23 span#rtr-s-Text_23_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_24 {
  position: absolute;
  top: 148px;
  left: 231px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_24 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd #s-Text_24 span#rtr-s-Text_24_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ef6b84e5-fb24-435d-ae67-7811309687fd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}