#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  min-width: 1440px;
  min-height: 900px;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Master_item_1 div.offset {
  position: relative;
  top: 0px;
  left: 0px;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Master_item_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 729px;
  overflow: visible;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Master_item_2 div.offset {
  position: relative;
  top: -726px;
  left: 0px;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Master_item_2 {
  position: absolute;
  top: 725px;
  left: 0px;
  width: 1440px;
  height: 175px;
  overflow: visible;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_1 {
  position: absolute;
  top: 189px;
  left: 263px;
  width: 301px;
  height: 517px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E938C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E938C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E938C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E938C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Image_1 {
  position: absolute;
  top: 426px;
  left: 584px;
  width: 79px;
  height: 74px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_2 {
  position: absolute;
  top: 189px;
  left: 677px;
  width: 301px;
  height: 517px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E938C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E938C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E938C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E938C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Image_2 {
  position: absolute;
  top: 426px;
  left: 999px;
  width: 79px;
  height: 74px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_3 {
  position: absolute;
  top: 189px;
  left: 1092px;
  width: 301px;
  height: 517px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #1E938C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #1E938C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1E938C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #1E938C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Image_5 {
  position: absolute;
  top: 191px;
  left: 298px;
  width: 232px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  z-index: 100;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Image_6 {
  position: absolute;
  top: 191px;
  left: 711px;
  width: 238px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  z-index: 100;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Image_7 {
  position: absolute;
  top: 191px;
  left: 1130px;
  width: 231px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  z-index: 100;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_4 {
  position: absolute;
  top: 290px;
  left: 284px;
  width: 259px;
  height: 397px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 18.0pt;
  font-family: Comic Sans MS,Arial;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_4 span {
  color: #4B7C2A;
  text-align: left;
  text-decoration: none;
  font-family: Comic Sans MS,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #4B7C2A;
  text-align: left;
  text-decoration: none;
  font-family: Comic Sans MS,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_5 {
  position: absolute;
  top: 295px;
  left: 700px;
  width: 259px;
  height: 388px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 18.0pt;
  font-family: Comic Sans MS,Arial;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_5 span {
  color: #4E7ACB;
  text-align: left;
  text-decoration: none;
  font-family: Comic Sans MS,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #4E7ACB;
  text-align: left;
  text-decoration: none;
  font-family: Comic Sans MS,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_6 {
  position: absolute;
  top: 295px;
  left: 1116px;
  width: 259px;
  height: 397px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 18.0pt;
  font-family: Comic Sans MS,Arial;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_6 span {
  color: #DCA000;
  text-align: left;
  text-decoration: none;
  font-family: Comic Sans MS,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #DCA000;
  text-align: left;
  text-decoration: none;
  font-family: Comic Sans MS,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Text_1 {
  position: absolute;
  top: 148px;
  left: 189px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Text_1 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Text_2 {
  position: absolute;
  top: 148px;
  left: 231px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Text_2 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Text_3 {
  position: absolute;
  top: 148px;
  left: 298px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Text_3 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fe77bcc6-da31-4a63-93f8-bc01feeeeb95 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}