#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_9 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_10 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_12 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_13 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_15 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_16 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_18 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_19 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222 #m-32d65436-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#m-32d65436-188c-42b8-8f64-83bd917f8222.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}