#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_1 {
  position: absolute;
  top: 726px;
  left: 0px;
  width: 1440px;
  height: 150px;
  background-color: #CCCCCC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_1 span#rtr-m-368a1130-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_2 {
  position: absolute;
  top: 841px;
  left: 20px;
  width: 1396px;
  height: 26px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: dotted;
  border-left-color: #000000;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Helvetica,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_2 span#rtr-m-368a1130-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_3 {
  position: absolute;
  top: 731px;
  left: 20px;
  width: 230px;
  height: 105px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Arial Black,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_3 .valign {
  vertical-align: top;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial Black,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 800;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_3 span#rtr-m-368a1130-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial Black,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 800;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_3 span#rtr-m-368a1130-Rectangle_3_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial Black,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 800;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_8 {
  position: absolute;
  top: 876px;
  left: 0px;
  width: 1440px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_8 span#rtr-m-368a1130-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_4 {
  position: absolute;
  top: 731px;
  left: 312px;
  width: 230px;
  height: 105px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Arial Black,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_4 .valign {
  vertical-align: top;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial Black,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 800;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_4 span#rtr-m-368a1130-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial Black,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 800;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_5 {
  position: absolute;
  top: 731px;
  left: 605px;
  width: 230px;
  height: 105px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Arial Black,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_5 .valign {
  vertical-align: top;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial Black,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 800;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_5 span#rtr-m-368a1130-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial Black,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 800;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_7 {
  position: absolute;
  top: 731px;
  left: 1190px;
  width: 230px;
  height: 105px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Arial Black,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_7 .valign {
  vertical-align: top;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial Black,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 800;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_7 span#rtr-m-368a1130-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial Black,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 800;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_6 {
  position: absolute;
  top: 731px;
  left: 896px;
  width: 230px;
  height: 105px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Arial Black,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_6 .valign {
  vertical-align: top;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial Black,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 800;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_6 span#rtr-m-368a1130-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial Black,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 800;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Image_1 {
  position: absolute;
  top: 778px;
  left: 1200px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
  z-index: 100;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Image_2 {
  position: absolute;
  top: 778px;
  left: 1255px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
  z-index: 100;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Image_3 {
  position: absolute;
  top: 778px;
  left: 1310px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
  z-index: 100;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Image_4 {
  position: absolute;
  top: 778px;
  left: 1365px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
  z-index: 100;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_9 {
  position: absolute;
  top: 763px;
  left: 20px;
  width: 230px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_9 span#rtr-m-368a1130-Rectangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_9 span#rtr-m-368a1130-Rectangle_9_1 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_10 {
  position: absolute;
  top: 787px;
  left: 20px;
  width: 230px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_10 span#rtr-m-368a1130-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_10 span#rtr-m-368a1130-Rectangle_10_1 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_11 {
  position: absolute;
  top: 811px;
  left: 20px;
  width: 230px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_11 span#rtr-m-368a1130-Rectangle_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_12 {
  position: absolute;
  top: 763px;
  left: 312px;
  width: 230px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_12 span#rtr-m-368a1130-Rectangle_12_0 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_13 {
  position: absolute;
  top: 787px;
  left: 312px;
  width: 230px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_13 span#rtr-m-368a1130-Rectangle_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_14 {
  position: absolute;
  top: 811px;
  left: 312px;
  width: 230px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_14 span#rtr-m-368a1130-Rectangle_14_0 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_15 {
  position: absolute;
  top: 763px;
  left: 605px;
  width: 230px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_15 span {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_15 span#rtr-m-368a1130-Rectangle_15_0 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_16 {
  position: absolute;
  top: 787px;
  left: 605px;
  width: 230px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_16 span {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_16 span#rtr-m-368a1130-Rectangle_16_0 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_17 {
  position: absolute;
  top: 811px;
  left: 605px;
  width: 230px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_17 span {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_17 span#rtr-m-368a1130-Rectangle_17_0 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_18 {
  position: absolute;
  top: 763px;
  left: 896px;
  width: 230px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_18 span {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_18 span#rtr-m-368a1130-Rectangle_18_0 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_19 {
  position: absolute;
  top: 787px;
  left: 896px;
  width: 230px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_19 span {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_19 span#rtr-m-368a1130-Rectangle_19_0 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_20 {
  position: absolute;
  top: 811px;
  left: 896px;
  width: 230px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_20 span {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f #m-368a1130-Rectangle_20 span#rtr-m-368a1130-Rectangle_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-368a1130-81cf-490f-b6fe-c289c972109f.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}