#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 110px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Corsiva Hebrew,Arial;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Corsiva Hebrew,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_1 span#rtr-m-4c404e97-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Corsiva Hebrew,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_2 {
  position: absolute;
  top: 110px;
  left: 0px;
  width: 1400px;
  height: 28px;
  background-color: #CCCCCC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Corsiva Hebrew,Arial;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Corsiva Hebrew,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_2 span#rtr-m-4c404e97-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Corsiva Hebrew,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_3 {
  position: absolute;
  top: 131px;
  left: 0px;
  width: 180px;
  height: 598px;
  background-color: #CCCCCC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_3 span#rtr-m-4c404e97-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-search {
  position: absolute;
  top: 462px;
  left: 11px;
  width: 156px;
  height: 45px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: 3px 3px 5px 0px #404040;
  text-shadow: none;
  cursor: text;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-search .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-search input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Corsiva Hebrew,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-search_button {
  position: absolute;
  top: 523px;
  left: 139px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Menu_1 {
  position: absolute;
  top: 139px;
  left: 0px;
  width: 180px;
  height: 295px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Menu_item_19 {
  background-color: #00FFFF;
  background-image: none;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Menu_item_19-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Hannotate TC,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Menu_item_2 {
  background-color: #699CFC;
  background-image: none;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Menu_item_2-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Hannotate TC,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_14 {
  background-color: #689BFC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_14-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_15 {
  background-color: #689BFC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_15-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_16 {
  background-color: #689BFC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_16-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Menu_item_3 {
  background-color: #8B00FF;
  background-image: none;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Menu_item_3-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Hannotate TC,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_7 {
  background-color: #8A00FE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_7-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_8 {
  background-color: #8A00FE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_8-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_9 {
  background-color: #8A00FE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_9-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Menu_item_6 {
  background-color: #FB3A23;
  background-image: none;
  opacity: 0.98;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Menu_item_6-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Hannotate TC,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_10 {
  background-color: #FB3A23;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_10-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_11 {
  background-color: #FB3A23;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_11-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_12 {
  background-color: #FB3A23;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_12-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_21 {
  background-color: #FA3E28;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_21-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Menu_item_4 {
  background-color: #FF7F00;
  background-image: none;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Menu_item_4-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Hannotate TC,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_17 {
  background-color: #FE7F00;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_17-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_18 {
  background-color: #FE7F00;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_18-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_20 {
  background-color: #FE7F00;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_20-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Menu_item_5 {
  background-color: #FFFF00;
  background-image: none;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Menu_item_5-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Hannotate TC,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_13 {
  background-color: #FEFF00;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_13-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_22 {
  background-color: #FEFF00;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_22-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_23 {
  background-color: #FEFF00;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_23-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_24 {
  background-color: #FEFF00;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_24-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_25 {
  background-color: #FEFF00;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_25-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_26 {
  background-color: #FEFF00;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_26-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_27 {
  background-color: #FEFF00;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_27-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_28 {
  background-color: #FEFF00;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
[masteritem=m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c] #m-4c404e97-Menu_item_28-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Menu_item_1 {
  background-color: #00FF00;
  background-image: none;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Menu_item_1-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Hannotate TC,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Image_2 {
  position: absolute;
  top: 0px;
  left: 577px;
  width: 286px;
  height: 110px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Browser_1 {
  position: absolute;
  top: 110px;
  left: 0px;
  width: 1440px;
  height: 28px;
  box-shadow: none;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_6 {
  position: absolute;
  top: 9px;
  left: 1095px;
  width: 305px;
  height: 91px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_6 span#rtr-m-4c404e97-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_4 {
  position: absolute;
  top: 19px;
  left: 1103px;
  width: 215px;
  height: 17px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_4 span#rtr-m-4c404e97-Rectangle_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_5 {
  position: absolute;
  top: 57px;
  left: 1103px;
  width: 215px;
  height: 17px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_5 span#rtr-m-4c404e97-Rectangle_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Button_1 {
  position: absolute;
  top: 16px;
  left: 1332px;
  width: 51px;
  height: 49px;
  background-color: #4AA68A;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Button_1 span#rtr-m-4c404e97-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Input_2 {
  position: absolute;
  top: 54px;
  left: 1174px;
  width: 146px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: 3px 3px 5px 0px #404040;
  text-shadow: none;
  cursor: text;
  z-index: 100;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Text_23 {
  position: absolute;
  top: 88px;
  left: 1103px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Text_23 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Text_23 span#rtr-m-4c404e97-Text_23_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Input_3 {
  position: absolute;
  top: 16px;
  left: 1174px;
  width: 146px;
  height: 21px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: 3px 3px 5px 0px #404040;
  text-shadow: none;
  cursor: text;
  z-index: 100;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Text_1 {
  position: absolute;
  top: 88px;
  left: 1317px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Text_1 span {
  color: #699CFC;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Text_1 span#rtr-m-4c404e97-Text_1_0 {
  color: #699CFC;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}