#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-search_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c #m-4c404e97-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4c404e97-68cf-4e21-b6bf-c2326aec6e1c.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}