#m-681ede3b-0c61-4324-bb6f-4e9e9ddd6467 #m-681ede3b-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681ede3b-0c61-4324-bb6f-4e9e9ddd6467 #m-681ede3b-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681ede3b-0c61-4324-bb6f-4e9e9ddd6467 #m-681ede3b-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681ede3b-0c61-4324-bb6f-4e9e9ddd6467 #m-681ede3b-search_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681ede3b-0c61-4324-bb6f-4e9e9ddd6467 #m-681ede3b-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681ede3b-0c61-4324-bb6f-4e9e9ddd6467 #m-681ede3b-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681ede3b-0c61-4324-bb6f-4e9e9ddd6467 #m-681ede3b-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681ede3b-0c61-4324-bb6f-4e9e9ddd6467 #m-681ede3b-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681ede3b-0c61-4324-bb6f-4e9e9ddd6467 #m-681ede3b-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681ede3b-0c61-4324-bb6f-4e9e9ddd6467 #m-681ede3b-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681ede3b-0c61-4324-bb6f-4e9e9ddd6467 #m-681ede3b-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681ede3b-0c61-4324-bb6f-4e9e9ddd6467.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}