#m-c6b0e0fc-718a-4546-bcfe-b0c148c1fed7 #m-c6b0e0fc-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c6b0e0fc-718a-4546-bcfe-b0c148c1fed7 #m-c6b0e0fc-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c6b0e0fc-718a-4546-bcfe-b0c148c1fed7 #m-c6b0e0fc-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c6b0e0fc-718a-4546-bcfe-b0c148c1fed7 #m-c6b0e0fc-search_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c6b0e0fc-718a-4546-bcfe-b0c148c1fed7 #m-c6b0e0fc-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c6b0e0fc-718a-4546-bcfe-b0c148c1fed7 #m-c6b0e0fc-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c6b0e0fc-718a-4546-bcfe-b0c148c1fed7 #m-c6b0e0fc-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c6b0e0fc-718a-4546-bcfe-b0c148c1fed7 #m-c6b0e0fc-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c6b0e0fc-718a-4546-bcfe-b0c148c1fed7 #m-c6b0e0fc-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c6b0e0fc-718a-4546-bcfe-b0c148c1fed7 #m-c6b0e0fc-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c6b0e0fc-718a-4546-bcfe-b0c148c1fed7 #m-c6b0e0fc-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-c6b0e0fc-718a-4546-bcfe-b0c148c1fed7.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}